* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}



/* costruzione schermate */

section {
   height: 100vh;
   position: relative;
}

.s-red {
    background-color: red;
}

.s-green {
    background-color: green;
}

.s-yellow {
    background-color: yellow;
}



/* pallini numerati */

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

header nav ul li {
    display: inline-block;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 30px;
    background-color: white;    
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-weight: bold;
}

header nav ul li a:hover {
    box-shadow: 5px 5px 0px black;
}






/* contenuti delle schermate */

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.box img {
    width: 100%;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: yellow;
    font-size: 80px;
    font-weight: bold;
}

.text-green {
    text-align: center;
    text-transform: uppercase;
    color: #008000;
    font-size: 80px;
    font-weight: bold;
}







